* {
    box-sizing: border-box;
}
* {
    border-radius: 0 !important;
}
body {
    font-size: 12px;
    font-family: 'Montserrat', 'Open Sans', "Arial", sans-serif;
    line-height: 18px;
    letter-spacing: 0;
    text-align: justify;
    background: white;
    position: relative;
    overflow-x: hidden;
    color: black;
}
/* #566471 */

.titulo {
  margin-top: -60vh;
  margin-left: 5vh;}

h1 {
    font-family: 'Open Sans';
    font-size: 14vh;
    color: #F5F5F5;
    font-weight: bold;
    letter-spacing: -1vh;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3.5vh;
    line-height: 8vh;
    letter-spacing: 0vh;
    text-transform: uppercase;
}

h3 {
    font-size: 2.2vh;
    padding-bottom: -2vh;
    margin-bottom: 0vh;
    text-transform: uppercase;
    /*  background: url('../tbc.jpg') repeat-x scroll left bottom; */
}

p {
  font-family: 'Open Sans';
  font-size: 2vh;
  margin-top: 2vh;
  line-height: 3vh;
  color: #707070;
}

.img2 {width: 100%}
/** NAVBAR **/

.text {
    font-size: 1.7vh;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 5px;
    color: black;
}

.navbar-default {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  transition: top 0.2s ease-in-out;
  font-family: 'Arial';
  font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display: inline-block;
}
.navbar .und a:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    bottom: 0;
    left: 13%;
    background-color: #FF8300;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar .und a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    -webkit-transition: color 200ms;
    color: #FF8300;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: transparent;
}
.brand-logo {
    height: 5vh;
    margin-top: 2vh;
}

.logo {
  width: 30vh;
  display:inline-block;
}


/* LANDING STUFF*/

#land-wrap {
    position: relative;
    height: 100%;
    color: #ffffff;
    z-index: 2;
}
.img-layer-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.img-layer {
    vertical-align: middle;
    background: url("../woman27.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-size: 100%;
}

/*
@media (max-width: 400px) {
    .img-layer {
        height: 50vh;
    }
}
*/
/** WRAPPERS **/

.projectWrapper {
    height: 80vh;
    position: relative;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    text-align: center;
    color: black;
}

.stretch {
  margin-left: 30vh;
  margin-right: 30vh;
}
/* TO ANIMATE */

.hidme {
    opacity: 0;
}
.visible {
    opacity: 1;
}
/* WHAT SECTION */


.icons {
    margin-top: 17vh;
    margin-left: 20vh;
    margin-right: 20vh;
    text-align: center;
}
.withPad {
    margin-right: 3vh;
}

.icon {  width: 5vh;}
.iconsPartners {width: 30vh;}

/***** WHO SECTION *****/

.name {
    margin-top: 50vh;
    font-weight: bold;
    font-size: 9vh;
    line-height: 8vh;
    letter-spacing: -1vh;
    text-transform: uppercase;
}

/** HISTORY SECTION **/

.boxHistory {
  margin-top: 12vh;
  margin-left: 20vh;
  margin-right: 20vh;
}

.textHistory {
  margin-left: 10vh;
  margin-right: 10vh;
}

.textHistory p {line-height: 4vh;}

.subsections {
  margin-top: 10vh;
}
/*
@media (max-width: 1000px) {
    #who h2 {
        margin-top: 45vh;
    }
}
.who2 {
    margin-left: 20vh;
    margin-right: 20vh;
}
.imgsize {
    width: 120%;
    padding-left: -20vh;
    padding-right: -20vh;
}
@media (max-width: 1000px) {
    .who2 {
        margin-top: 75vh;
        margin-left: 5vh;
        margin-right: 5vh;
    }
}


@media (min-width: 600px) {
    .who-are-we-image-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        margin-top: 10%;
    }
}
@media (max-width: 1200px) {
    .who-are-we-text {
        font-size: 240px !important;
    }
}
@media (max-width: 600px) {
    .who-are-we-text {
        font-size: 25vh !important;
        padding-top: 30vh;
        margin-left: -5vh;
    }
}

*/


/*** SECTIONS ***/

#whoImg {
  padding-bottom: 20vh;
  padding-top: 20vh;}

#what {
    background-color: #f7f7f7;
    padding-top: 10vh;
    margin-left: -20vh;
    margin-right: -20vh;
    font-size: 1.8vh;
    position: relative;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#get {
  position: relative;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}


#contact {
  background-color: #f7f7f7;
  position: relative;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

#partners {
  position: relative;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.form-control {
    width: 100%;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
    border-color: #FF8300 !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none;
}

/*** SCROLL SIGN **/

section {
	float: left;
  width: 10%;
}


#section04 a {
	padding-top: 60px;
}
#section04 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
  margin-top: -3vh;
	margin-left: -12px;
	border-left: 3px solid #FF8300;
	border-bottom: 3px solid #FF8300;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
